// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* forms */

input, textarea, select, .uneditable-input {
  border: 1.3px solid #bbb;
  width: 100%;
  margin-bottom: 18px;
  /*@include box_sizing;*/
}

input {
  height: auto !important;
}